@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nextleet loader */
.loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
}

.loader:before {
    animation: before8 2s infinite;
}

.loader:after {
    animation: after6 2s infinite;
}

@keyframes before8 {
    0% {
        width: 0.5em;
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    35% {
        width: 2.5em;
        box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }

    70% {
        width: 0.5em;
        box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
}

@keyframes after6 {
    0% {
        height: 0.5em;
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    35% {
        height: 2.5em;
        box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
        height: 0.5em;
        box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
}

.loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
}

@layer components {
    .preferenceBtn {
        @apply relative rounded px-3 py-1.5 font-medium items-center transition-all focus:outline-none inline-flex ml-auto p-1 mr-2 hover:bg-dark-fill-3;
    }

    .preferenceBtn-tooltip {
        @apply absolute w-auto p-2 text-sm m-2 min-w-max translate-x-3 right-0 top-5 z-10 rounded-md shadow-md text-dark-layer-2 bg-gray-200 origin-center scale-0 transition-all duration-100 ease-linear group-hover:scale-100;
    }
} 

/* dark  scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #282828;
}

::-webkit-scrollbar-thumb {
    background: #4d4d4d;
}

/* CODE EDITOR*/
.cm-scroller,
.cm-gutters {
    background-color: #282828 !important;
}

.cm-focused {
    outline: none !important;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: rgb(26, 26, 26);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter:hover {
    background-color: #0a84ff;
}

.gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: col-resize;

}

.gutter.gutter-vertical {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
    cursor: row-resize;

}

code {
    border-radius: 5px;
    border-width: 1px;
    font-family: sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.125rem;
    letter-spacing: 1px;
    white-space: pre-wrap;
    background-color: hsla(0, 11%, 37%, 0.07);
    border-color: rgba(247, 250, 255, 0.12);
    color: rgb(0, 0, 0);
}

.example-card {
    /* border: 4px solid red; */
    /* background-color: rgba(229, 232, 233, 0.499); */
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0/px 0px 10px black; */
    /* border: none; */
}

.example-card pre {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 0.5rem;
    color: rgb(90, 80, 80);
    font-size: 0.98rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    white-space: pre-wrap;
}

.example-card pre strong {

    font-size: 1rem;
}